:root {
    --grid-columns: 35;
    --grid-rows: 25;
    --cell-width-height: 30px;

    --grid-row-headers-top: 8px;
    --grid-width: calc(var(--grid-columns) * var(--cell-width-height));
}

* {
    font-family: 'Roboto', sans-serif;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

.grid-caro .grid-column-headers {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), var(--cell-width-height));
    grid-template-rows: repeat(1, 22px);
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.grid-column-headers {
    height: 22px;
}

.grid-caro {
    left: 20px;
    position: relative;
    align-content: center;
    text-align: center;
    width: calc(var(--grid-width) - 25px);
}

.grid-column-header {
    background-color: #fff;
    margin: 1px;
    padding: 1px;
    padding-left: 3px;
    text-align: center;
    color: blue;
    font-size: 0.8em;
}

.grid-row-headers {
    display: grid;
    grid-template-columns: repeat(1, 20px);
    grid-template-rows: repeat(var(--grid-rows), var(--cell-width-height));
    background-color: #fff;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top: var(--grid-row-headers-top);
    left: 5px;
}

.grid-row-header {
    display: table;
    background-color: #fff;
    margin: 1px;
    padding: 1px;
    font-size: 0.8em;
    height: 100%;
    text-align: center;
    color: blue;
    vertical-align: middle;
    align-content: center;
}

.grid-controllers {
    top: var(--cell-width-height);
    left: var(--grid-width);
    display: grid;
    margin-left: 10px;
    padding: 0 5px;
    position: absolute;
}

.controller {
    height: 25px;
    border: 1px solid #000;
    font-weight: 1000;
    font-size: 0.9em;
}

.controller.active {
    background-color: rgba(0, 255, 255, 0.8)
}

.space {
    height: var(--cell-width-height);
}

.space2 {
    height: calc(var(--cell-width-height) / 2);
}

.label {
    text-align: left;
    font-size: 1em;
    font-weight: 600;
    color: #aaa;
}

.label2 {
    text-align: center;
    font-size: 1em;
    font-weight: 800;
    color: black;
}

.inturn-x {
    color: blue;
    font-weight: 1500;
}

.inturn-o {
    color: red;
    font-weight: 1500;
}
.grid-caro-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), var(--cell-width-height));
    grid-template-rows: repeat(var(--grid-rows), var(--cell-width-height));
    background-color: #fff;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    position: relative;
    width: var(--grid-width);
    height: calc(var(--grid-rows) * var(--cell-width-height));
    border: 2px solid #000;
}

.grid-caro-cell {
    background-color: #f5f5f5;
    border: 0px  solid #666;
    margin: 0;
    padding: 0;
    text-align: center;
    display: table;
}

.grid-caro-cell-diff {
    background-color: #e5e5e5;
}

.grid-caro-cell.won {
    background-color: rgba(0, 255, 255, 0.8)
}

.grid-caro-cell.won:hover {
    background-color: rgba(0, 255, 255, 0.8)
}

.grid-caro-cell:hover {
    background-color:  rgba(255, 255, 0, 0.3)
}

img.caro-cell {
    top: 0;
    margin: 0;
    padding: 1px;
    width: calc(var(--cell-width-height) - 10px);
    height: calc(var(--cell-width-height) - 10px);
    vertical-align: middle;
    align-content: center;
}

img.newest {
    background-color: rgba(255, 255, 0, 0.9)
}
 
span.middle-item {
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    align-content: center;
}
